---
import Section from "@/components/Section.astro";
import User from "@/icons/user.astro";
import Icons from "@/components/icons.astro";
import { basics } from "../cv.json";
import { langlist } from "@/i18n/ui";
import { translation } from "@/i18n/utils";
const { Sumary } = basics;

const currentlang = Astro.currentLocale || "es";
  
const translator = translation(currentlang as keyof typeof langlist);
---

<Section>
  <div>
    <h2>{translator('h2.Aboutme')} 
      <Icons>
      <User/> 
    </Icons>
    </h2>
  </div>
  <p class="about-me-summary">{Sumary}</p>
</Section>

<style>
  
  .about-me-summary {
    line-height: 1.6; /* Mejora la legibilidad del texto */
  }
</style>
