---
import Icons from "@/components/icons.astro";
import Section from "@/components/Section.astro";
import Skill from "@/icons/skills.astro";
import { skills } from "../cv.json";

import { langlist } from "@/i18n/ui";
import { translation } from "@/i18n/utils";
const currentlang = Astro.currentLocale || "es";

const translator = translation(currentlang as keyof typeof langlist);
---

<Section>
  <h2>
    {translator("h2.Skills")}
    <Icons><Skill /></Icons>
  </h2>
  <ul>
    {
      skills.map(({ name }) => {
        return name ? (
          <li>
            <span>{name}</span>
          </li>
        ) : null;
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
