---
import Aboutme from "@/components/Section/aboutme.astro";
import Exprince from "@/components/Section/experience.astro";
import Hero from "@/components/Section/hero.astro";
import Keyboarmanager from "@/components/Section/Keyboarmanager.astro";
import Skills from "@/components/Section/skills.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout >
  <main>
    <Hero />
    <Aboutme />
    <Exprince />
    <Skills />
  </main>
  <Keyboarmanager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
