---
import Exprince from "@/components/Section/experience.astro";
import Hero from "@/components/Section/hero.astro";
import Layout from "@/layouts/Layout.astro";
import Skills from "@/components/Section/skills.astro";
import Aboutme from "@/components/Section/aboutme.astro";
import Keyboarmanager from "@/components/Section/Keyboarmanager.astro";
---

<Layout title={`Curriculum vitae de `}>
  <main class="p-16 m-auto w-full">
    <Hero />
    <Aboutme />
    <Exprince />
    <Skills />
  </main>
  <Keyboarmanager />
</Layout>

<style>
  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
