---
import Icons from "@/components/icons.astro";
import Section from "@/components/Section.astro";
import { langlist } from "@/i18n/ui";
import { translation } from "@/i18n/utils";
import Job from "@/icons/job.astro";
import { experience } from "../cv-en.json";

import currentlang from "@/layouts/Layout.astro";

const translator = translation(currentlang as unknown as keyof typeof langlist);
---

<Section>
  <h2>
    {translator("h2.Academic")}
    <Icons>
      <Job />
    </Icons>
  </h2>
  <ul>
    {
      experience.map(({ year, institution, title, summary }) => {
        return experience ? (
          <li>
            <article>
              <header>
                <h2>{institution}</h2>
                <time>{year}</time>
              </header>
              <h3>{title}</h3>
              <footer>
                <p>{summary}</p>
              </footer>
            </article>
          </li>
        ) : null;
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  article h3 {
    font-weight: 500;
    color: #111;
    margin-top: 5px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }
  time {
    font-size: 20px;
  }
</style>
