---
import Icons from "@/components/icons.astro";
import Section from "@/components/Section.astro";
import { experiencia } from "@/cv.json";
import Job from "@/icons/job.astro";
---

<Section>
  <h2>
    Academic Experience <Icons>
      <Job />
    </Icons>
  </h2>
  <ul>
    {
      experiencia.map(({ a침o, instituci칩n, titulo, summary }) => {
        return experiencia ? (
          <li>
            <article>
              <header>
                <h2>{instituci칩n}</h2>
                <time>{a침o}</time>
              </header>
                <h3>{titulo}</h3>
              <footer>
                <p>{summary}</p>
              </footer>
            </article>
          </li>
        ) : null;
      })
    }
  </ul>
</Section>

<style>
   ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  article h3 {
    font-weight: 500;
    color: #111;
    margin-top: 5px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }
  time{
    font-size: 20px;
  }
</style>
